#sudo nano /etc/nginx/nginx.conf
#sudo nano /etc/nginx/sites-enabled/flask_security

##http and https
server {
        server_name 139.162.44.216 www.myfreedomaintest.website myfreedomaintest.website;

        location /static {
                alias /home/han/flask_security/flaskapp/static;
        }

        location / {

                proxy_pass  http://unix:/home/han/flask_security/flask_security.sock;
                include /etc/nginx/proxy_params;
                proxy_set_header REMOTE_PORT $remote_port;
                proxy_redirect off;

                proxy_set_header Host $http_host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
        }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.myfreedomaintest.website/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.myfreedomaintest.website/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot



}

server {
    if ($host = myfreedomaintest.website) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = www.myfreedomaintest.website) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name 139.162.44.216 www.myfreedomaintest.website myfreedomaintest.website;
    return 404; # managed by Certbot


}

