{% extends "layout.html" %}
{% block content %}
    <h1>Example 1: Uploading firmware</h1>
    <div class="row align-items-center">
        <div class="form-group col-6">
            <label for="ip_address_brd" class="form-label">IP address:</label>
            <div class="input-group">
                  <span class="input-group-text">
                        <i class="bi bi-exclamation-diamond-fill text-secondary"></i>
                  </span>
                  <input type="text" oninput="enableConnectButton()" id="ip_address_brd" class="form-control" placeholder="e.g. 192.168.137.11" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"/>

                  <!-- tooltip -->
                  <span class="input-group-text">
                    <span class="tt" data-bs-placement="bottom" title="Enter an ip address of the board">
                        <i class="bi bi-question-circle text-muted"></i>
                    </span>
                  </span>
            </div>
        </div>
        <div class="justify-content-center col mt-3">
            <button id="connect" type="button" class="btn btn-outline-primary mx-2" onclick="connect_brd(ip_address_brd.value)" disabled="disabled">Connect</button>
            <button id="test_berkeley_post" type="button" class="btn btn-outline-danger mx-2" onclick="test_berkeley_server(ip_address_brd.value)">Connect Berkeley Server</button>
        </div>

    </div>


    <div class="progress my-2">
        <div id="progress_bar" class="progress-bar" role="progressbar" style="width: {{progress_bar_value}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{progress_bar_value}}</div>
    </div>
    <div class="my-2 text-center">
        <h7 id="status">{{status_fw}}</h7>
    </div>
    <div class="my-5">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <div class="form-group">
                    {{ form.hexfile.label() }}
                    {{ form.hexfile(class="form-control-file") }}
                    {% if form.hexfile.errors %}
                        {% for error in form.hexfile.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

            </fieldset>
<!--            <div class="form-group">-->
<!--                <button id="program" onclick="updateProgressBar('{{ip_address}}')" type="submit" class="btn btn-outline-warning my-2" disabled="disabled">Program</button>-->
<!--            </div>-->
        </form>
    </div>
    <div class="my-2 justify-content-center text-center">

        <button id="erase" type="button" class="btn btn-outline-danger mx-2" disabled="disabled" onclick="eraseFlash(ip_address_brd.value)">Erase</button>
        <button id="program" type="button" class="btn btn-outline-warning mx-2" disabled="disabled" onclick="uploadFile('{{ip_address}}', ip_address_brd.value)">Program</button>
        <button id="check_version" type="button" class="btn btn-outline-info mx-2" disabled="disabled" onclick="checkVersion(ip_address_brd.value)">Version</button>
        <button id="verify" type="button" class="btn btn-outline-primary mx-2" disabled="disabled" onclick="verify(ip_address_brd.value)">Verify</button>
        <button id="run_app" type="button" class="btn btn-outline-success mx-2" disabled="disabled" onclick="runApp(ip_address_brd.value)">Run App</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script>
{% endblock content %}
